{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div id="loginForm" style="max-width: 350px; margin: 100px auto; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); transition: all 0.3s;">
        <h1 style="text-align: center; margin-top: 0; padding-top: 10px; transition: color 0.3s;">Register</h1>

        {{ form_start(form) }}
            <div style="margin-bottom: 20px;">
                {{ form_row(form.email) }}
            </div>

            <div style="margin-bottom: 20px;">
                {{ form_row(form.password) }}
            </div>


            <button type="submit" id="submitButtonRegister" style="margin-bottom:15px;width: 100%; padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer; font-weight: bold; transition: all 0.3s;">Register</button>

    </div>
{% endblock %}

