<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Alen's Bicycle Challenge App">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="path/to/favicon.ico" type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        
        label {
            display: block;
            margin-top: 10px;
            font-weight: bold;
        }
        
        input[type="text"],
        input[type="number"],
        select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 5px;
        }
        
        button[type="submit"] {
            margin-top: 20px;
            padding: 10px 15px;
            background-color: #4CAF50;
            color: #fff;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }
        
        button[type="submit"]:hover {
            background-color: #45a049;
        }
        
        p {
            margin-top: 10px;
        }
        
        strong {
            font-weight: bold;
        }
        
        .info {
            margin-top: 40px;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 4px;
        }
        
        .info p {
            margin-bottom: 10px;
        }
        
        .dark {
            background-color: #333;
            color: #fff;
        }
        
        .dark .info {
            background-color: #555;
        }
        
        #toggleTheme {
            position: fixed;
            top: 10px;
            left: 10px;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            z-index: 9999;
        }
        
        .disabled-input {
            background-color: #f9f9f9;
            color: #999;
            cursor: not-allowed;
        }

        /* Navbar styles */
        #navbar {
            position: fixed;
            top: 0;
            right: 0;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #1a1a1a;
            border-bottom-left-radius: 20px;
        }

        #navbar li {
            float: left;
        }

        #navbar li a {
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        #navbar li a:hover {
            background-color: #4a4a4a;
        }
    </style>
</head>
<body>
    {% block content %}{% endblock %}
    <button id="toggleTheme">Toggle Theme</button>

    <script>
        // Function to change the theme
        function toggleTheme() {
            // If the body class has 'dark', then remove it, else add it
            if (document.body.classList.contains('dark')) {
                document.body.classList.remove('dark');
                localStorage.setItem('theme', 'light');
            } else {
                document.body.classList.add('dark');
                localStorage.setItem('theme', 'dark');
            }
        }

        // Add click event listener to the toggleTheme button
        document.getElementById('toggleTheme').addEventListener('click', toggleTheme);

        // Check the initial theme based on the user's saved preference
        var themePreference = localStorage.getItem('theme');
        if (themePreference === 'dark') {
            document.body.classList.add('dark');
        } else {
            document.body.classList.remove('dark');
        }
    </script>
</body>
</html>
